# General
**/.git
**/.DS_Store
*.md
**/env
**/docs
**/demo
**/.vscode

# Docker
**/Dockerfile
**/.dockerignore

# .NET Core
**/bin
**/obj
**/*.Development.json

# Azure Functions
**/local.settings.json

# JavaScript
**/node_modules
**/dist
